*.pyc

/src/pyrox/__pycache__/
__pycache__/

site/
dist/

.env

.vscode/

.idea/

docs/issues/
docs/PROJECT_STATE.md

ui/.env.capacitor
ui/.env
ui/node_modules/
ui/ios/DerivedData/

.venv*/
node_modules/
pyrox_duckdb
test.sql
